  
   tbody:nth-child(odd) {
       background-color: #efefef;
   } 
   .table-striped > tbody > tr:nth-child(odd) {
     background-color: transparent !important;
   }
  .ng2-smart-row:hover {
      cursor: pointer
  }
   .quickview {
      background-color: #274c5a !important;
      border: 2px solid #274c5a !important;
      border-bottom: none !important;
      color: white;
   }

    .quickview-background-color-white {
      background-color: white !important;

   }



