input {
    width: 100%;
    line-height: normal;
    padding: .375rem .75rem;
}

.hideCell {
    display: none;
}

.message_link {
    text-decoration: none;
    color: #5690a6;
}

.message_link:hover {
    cursor: pointer;
    text-decoration: none;
    color: #101f25;
}




