@mixin flex { display: flex; }
@mixin flex-h { flex-direction: row; }
@mixin flex-v { flex-direction: column; }
@mixin flex0 { flex: 0 auto; }
@mixin flex-grow($basis: 0) { flex: 1 0 $basis; }
@mixin flex-align-center {
  flex-wrap: nowrap;
  align-items: center;
}