<div class="flex1">
 <input  type="text"  [id]="id" 
  [placeholder]="placeHolder" (change)="onDateChange($event)"   value="{{ inputDate | date:'shortDate'}}">
  <div class="ui-button ui-state-default ui-button-icon-only"  (click)="toggle()">
    <span class="ui-button-icon-primary ui-icon ui-icon-calendar"></span>
                <span class="ui-button-text">Choose a date</span>
    
  </div>
  <div *ngIf="opened">
        <datepicker [(ngModel)]="dt"  (selectionDone)="onDateSelection($event)" [showWeeks]="true"></datepicker>
        <span class="btn-group pull-left">
          <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
          <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
        </span>
      <button type="button" class="btn btn-sm btn-success pull-right" (click)="toggle()" tooltip="After today restriction">Close</button>
    <!-- <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="toggleMin()" tooltip="After today restriction">Min date</button> -->
  </div>
</div>




