<div>
    <div class="btns">
        <button type="button" class="btn btn-std btn-secondary" id="remit_detail_ui_modal">Modal</button>
        <button type="button" class="btn btn-std btn-secondary" id="remit_detail_close" (click)="onClose.emit(row)">Close</button>
        <button type="button" class="btn btn-std btn-secondary"  id="detail_view_previous" (click)="onPrevious.emit(row);">prev</button>
        <button type="button" class="btn btn-std btn-secondary"  id="detail_view_next" (click)="onNext.emit(row);">next</button>
        <!--<prev-next listcontroller="listctrl" remitid="ctrl.remit.id"></prev-next> -->
    </div>

</div>