<nav *ngIf="shouldShow()" class="pagination-container">
    <ul class="pagination">
        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled: getPage() == 1}">
            <a class="ng2-smart-page-link page-link" href="#"
               tooltip="first page"
               [tooltipDisabled]="false"
               [tooltipAnimation]="true"
               tooltipPlacement="top"
               (click)="getPage() == 1 ? false : paginate(1)" aria-label="First">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">First</span>
            </a>
        </li>
        <li class="ng2-smart-page-item page-item" [ngClass]="{disabled: getPage() == 1}">
            <a class="ng2-smart-page-link page-link" href="#"
               tooltip="previous page"
               [tooltipDisabled]="false"
               [tooltipAnimation]="true"
               tooltipPlacement="top"
               (click)="getPage() == 1 ? false : paginate(page-1)" aria-label="Previous">
                <span aria-hidden="true">&lsaquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        <li class="ng2-smart-page-item page-item"
            [ngClass]="{active: getPage() == page}" *ngFor="let page of getPages()">
        <span class="ng2-smart-page-link page-link"
              *ngIf="getPage() == page">{{ page }} <span class="sr-only">(current)</span></span>
            <a class="ng2-smart-page-link page-link" href="#"
               (click)="paginate(page)" *ngIf="getPage() != page">{{ page }}</a>
        </li>

        <li class="ng2-smart-page-item page-item"
            [ngClass]="{disabled: getPage() == getLast()}">
            <a class="ng2-smart-page-link page-link" href="#"
               tooltip="next page"
               [tooltipDisabled]="false"
               [tooltipAnimation]="true"
               tooltipPlacement="top"
               (click)="getPage() == getLast() ? false : paginate(page+1)" aria-label="Last">
                <span aria-hidden="true">&rsaquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>

        <li class="ng2-smart-page-item page-item"
            [ngClass]="{disabled: getPage() == getLast()}">
            <a class="ng2-smart-page-link page-link" href="#"
               tooltip="last page"
               [tooltipDisabled]="false"
               [tooltipAnimation]="true"
               tooltipPlacement="top"
               (click)="getPage() == getLast() ? false : paginate(getLast())" aria-label="Last">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Last</span>
            </a>
        </li>
    </ul>
</nav>